* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    /************************for scrolling directly after clicking home about projects contacts*******************************/
}

body {
    background: linear-gradient(to right, rgb(179, 227, 245), rgb(250, 198, 206));
    color: black;
}

/*************************header*************************************/
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/****************************portfolio photo*********/
/* home section styling */

.home {
    height: 90vh;
    width: 100%;
    /*background-image: url("image/backgroundimg.jpg"); Adjust the path to your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* Aligns items with space between them */
    align-items: center;
    /* Vertically centers items */
}

.home .text {
    max-width: 100%;
    /* Adjust based on your preference */
}

.home .home-photo {
    max-width: 50%;
    /* Adjust based on your preference */
    text-align: right;
    /* Aligns the image to the right */
}

.home .home-photo img {
    max-width: 50%;
    /* Ensures the image does not exceed its container */
    height: auto;
}

.home .text-one {
    font-size: 50px;
    color: #0E2431;
}

.home .text-two {
    color: #0E2431;
    font-size: 100px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
}

.home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}

.home .button {
    margin: 14px 0;
}

.home .button a {
    text-decoration: none;
    color: #fff;
}

.home .button button a:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

.home .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.home .button button:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

/****************************portfolio photo end*********/


.container {
    padding: 10px 10%;
    /*10px space from left side and 10% from top*/
}

#menu {
    top: 0;
    position: fixed;
    width: 100%;
    margin-left: -160px;
    background: #4070f4;
    margin-right: -110px;

}

/*nav{
    display: flex; if two symbols are there then after flex it will be side by side
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    
}*/
/*.logo{
    width: 140px;
}*/
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}





.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text hl {
    font-size: 20px;
    margin-top: 20px;

}

.header-text hl span {
    color: #ff004f;
}

/********about***********/
#about {
    padding: 40px;
    color: black;
    height: 100hv;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1 {
    flex-basis: 35%;

}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    font-size: 18px;
    height: 60vh;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: black;

}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span {
    color: #b54769;
    font-size: 20px;
    font-weight: 600;
}

/*************skill, experience, education section over**********************/
/*means font size, color done*/


/*******Now hiding content as all the content come along with all*********/
.tab-contents {
    display: none;
}

/****fixing this issue*****/

/*****skill section*****/
.tab-contents.active-tab {
    display: block;
}



/********* Projects (services) section start**************/

#services {
    padding: 30px 0;
    height: 90vh;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/******box movie recomendation*******/
.services-list div {
    background: rgb(155, 239, 239);
    width: 100%;
    padding: 20px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    /***corners will round***/
    transition: background 0.5s, transform 0.5s;
}

/*********************icon************************************/
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}

/***************learn more about project**********
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}***************/

/**box color movie recomendation box************cursor click then become red*************************/
.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
    color: #fff;
}



/**************contacts******************/
#contact {
    height: 70hv;
}

.contact-left {
    flex-basis: 40%;
    margin-left: 110px;
}

.contact-right {
    flex-basis: 50%;
}

.contact-left p {
    margin-top: 30px;
    margin-left: 5px;
    font-size: 25px;

}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;

}

/******************cursor go then icon become red*************************/
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);

}

/***********for both download cv and submit button************************/
.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}



/*******form***************/
.contact-right form {
    width: 95%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #444;
    font-size: 18px;
    border-radius: 6px;


}

/*********submit button***********/

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

/*******************copyright in the last*************************/
.copyright {
    color: black;
    font-weight: 900;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #4070f4;
    font-weight: 300;
    margin-top: 10px;

}

/***********
.copyright i{
    color: #fff;
}
*************/


/************css for small screens************************

timing 1:32 to 1: 45 ***************/

nav .fa-regular {
    display: none;
}

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    /* Styles for small screens */
    
 

    nav .fa-solid{
        display: block;
        font-size: 25px;
        
    }

    nav .fa-regular{
        display: block;
        font-size: 25px;
    }
   
    #menu {
        top: 10px;
        position: fixed;
        width: 100%;
        margin-left: 280px; 
        background: pink;    
    }
   
    nav ul{
        background: linear-gradient(to right, pink, skyblue);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 1000;
        color: #031101;
        font-weight: 600;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color: black;
    }

    nav ul .fa-regular{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    

    .home {
        flex-direction: column;
    }

    .home-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
   
 
   
    .home-content .text {
        order: 2;
    }

    .home-content .text-one {
        font-size: 20px;
    }

    .home-content .text-two {
        font-size: 30px;
    }

    .home-content .text-three {
        font-size: 14px;
        font-weight: 600;
    }

    .home-content .text-four {
        font-size: 15px;
    }

    .home-content .button button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .homephoto{    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Default width */
    height: auto;
    z-index: -1;
    }



   

    .sub-title {
        font-size: 40px;
    }
    
    .about{
        width: 400px;
        
    }


    .about-col-1,
    .about-col-2 {
        flex-basis: 250%;
        margin-left: -40px;
    }

    .about-col-1 {
        margin-bottom: 30px;

    }

    .about-col-2 {
        font-size: 16px;
        margin-left: -40px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
        z-index: -1;
    }
    
    #services{
        margin-top: 90px;
        width: 300px;
        margin-bottom: 600px;
    }
    .services-list div {
        width: 120%;
        
    }

    .services-list div i {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .services-list div h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .services-list div h3 {
        font-size: 20px;
    }

    .services-list div p {
        font-size: 14px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .contact-left {
        font-size: 30px;
        margin-left: 35px;
        margin-bottom: 50px;
    }

    .contact-left p {
        font-size: 16px;
    }

    form input,
    form textarea {
        width: 80%;
        margin-left: 25px;
    }

    form .btn2 {
        margin-left: 25px;
    }

    #msg {
        margin-left: 25px;
        margin-bottom: 10px;
    }

}


/*********agter submitting  will print*************/
#msg {
    color: #031101;
    margin-top: 10px;
    display: block;
}